# Undead Rounds - sound mapping
#
#   event = source | source | ...      (one is picked at random)
#
# A source can be:
#   alias:<name>      a sound alias from your World at War install's fastfiles
#   iwd/<path>.wav    a file inside the install's .iwd archives
#   <path>.wav        a file in the extracted folder (tools\extract_zombies.py)
# Missing sources fall back to built-in procedural sounds. Weapons always use
# their own fire sound from the game when it can be found.

round_start   = iwd/sound/Stream/Music/Mission/zombie/mx_wave_1.wav
game_start    = iwd/sound/Stream/Music/Mission/zombie/mx_wave_1.wav
round_end     = alias:round_over | iwd/sound/SFX/Levels/zombie/chalk/round_over.wav
wall_buy      = alias:cha_ching | iwd/sound/SFX/Levels/zombie/chalk/chalk_v2.wav
purchase      = alias:cha_ching
deny          = alias:no_cha_ching | iwd/sound/SFX/Levels/zombie/maps/asylum/door/deny/deny_00.wav
game_over     = iwd/sound/Stream/Music/Mission/zombie/mx_game_over.wav | iwd/sound/Stream/Music/Mission/zombie/mx_game_over2.wav
door_open     = alias:door_slide_open
crate_ready   = iwd/sound/SFX/Levels/zombie/perksacola/lottery/lottery_laugh.wav

zombie_groan  = alias:attack_vocals
zombie_attack = alias:attack_whoosh
zombie_death  = alias:death_gurgle | alias:death_gibs
zombie_spawn  = alias:mortar_dirt_debris
board_tear    = alias:break_boards | alias:remove_boards
board_repair  = alias:repair_boards | alias:board_slam
headshot      = alias:zombie_head_gib
knife         = alias:knife_stab_plr | alias:melee_swing_gear_plr
player_hurt   = alias:player_pain_small
powerup_spawn = alias:spawn_powerup
powerup_grab  = alias:powerup_grabbed

max_ammo      = iwd/sound/voiceovers/zombie/ANN/ANN_MaxAmmo.wav
insta_kill    = iwd/sound/voiceovers/zombie/ANN/ANN_InstaKill.wav
double_points = iwd/sound/voiceovers/zombie/ANN/ANN_DoublePoints.wav
nuke          = iwd/sound/voiceovers/zombie/ANN/ANN_Nuke.wav
carpenter     = iwd/sound/voiceovers/zombie/ANN/ANN_carpenter.wav
